<!-- begin post -->
<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}
                    {% assign largest = resized | sort: 'width' | last %}
                    {% capture srcset %}
                    {% for i in resized %}
                        /{{ i.path }} {{ i.width }}w,
                    {% endfor %}
                    {% endcapture %}
                
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ srcset | strip_newlines }}/{{ path }} {{ original.width }}w" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-thumb" src="/{{ largest.path }}" srcset="{{ srcset | strip_newlines }}/{{ path }} {{ original.width }}w" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% assign author = site.authors | where: 'name', post.author | first %}
                {% if author %}
                <span class="meta-footer-thumb">
                    {% if author.avatar %}
                    <img class="author-thumb" src="{% if site.baseurl.size != 0 %}{{ site.baseurl }}/{% endif %}{{ author.avatar }}" alt="{{ author.display_name }}">
                    {% else %}
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                    {% endif %}
                </span>
                <span class="author-meta">
                <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span> 
                {% endif %}
                <span class="post-date">{{ post.date | date_to_string }}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->